
<style>

</style>

    <%= form_for Lead.new do |ld| %>
        <div class="form-group">
            <%= ld.text_field :firstName, class: "form-control", placeholder: "Nome" %>
        </div>

        <div class="form-group">
            <%= ld.email_field :email, class: "form-control", placeholder: "E-mail" %>
        </div>

        <div class="form-group">
            <%= ld.text_field :company, class: "form-control", placeholder: "Empresa" %>
        </div>
        
        <div class="form-group">
            <%= ld.text_field :companySegment, class: "form-control", placeholder: "Segmento" %>
        </div>

       <%= ld.submit "enviar", class: "btn btn-lg btn-primary" %>
        
    <% end %>