

<% @posts.each do |post| %>
        <div class="thumbnail">
            <%= link_to image_tag("posts/post-1.jpg"), post_show_url(:id => post.id, :friendlyUrl => post.friendlyUrl) %>

            <div class="caption">
                <h1 class="text-center"><%= link_to post.title, post_show_url(:id => post.id, :friendlyUrl => post.friendlyUrl) %></h1>
                <h4 class="text-center">Por <%= post.author %> <%= post.created_at.strftime("em %d/%m/%Y") %></h4>
                <div class="text-justify post-content post-preview">
                    <%= markdown.render(post.body).html_safe %>
                </div>   
                <div class="text-right">
                   
                   <%= link_to "leia mais +", post_show_url(:id => post.id, :friendlyUrl => post.friendlyUrl) %>
                   
                </div>
            </div>

        </div>
<% end %>
