

<% @laranjas.each do |post| %>
        <div class="thumbnail">
            <%= image_tag("posts/post-1.jpg") %>

            <div class="caption">
                <h1 class="text-center"><%= post.title %></h1>
                <h4 class="text-center">Por <%= post.author %> <%= post.created_at.strftime("em %d/%m/%Y") %></h4>
                <div class="text-justify post-content">
                    <%= markdown.render(post.body).html_safe %>
                </div>   
            </div>

        </div>
<% end %>
