<header class="intro" style="background: url(/assets/images/posts/post-<%= @post.id %>-lg.jpg) no-repeat bottom center scroll">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading text-shadow"><%= @post.title %></h1>
                    <h3>Por <%= @post.author %> <%= @post.created_at.strftime("em %d/%m/%Y") %></h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-lg-8 post-content text-justify">
            <%= markdown.render(@post.body).html_safe %>
        </div>
        <div class="col-lg-4">
            <%= render :partial => "leads/create" %>
        </div>
    </div>
</div>