<!DOCTYPE html>
<html>
  <head>
    <title>meinspiro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  </head>
 
  <body data-spy="scroll" id="page-top" data-target="navbar-fixed-top" >
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                  <%= image_tag("logo-header.png", size:'120x30')%>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="#start">início</a>
                    </li>
                    <li>
                        <a href="#services">downloads</a>
                    </li>
              
                    <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#subscribe">
                      <span class="glyphicon glyphicon-heart"></span> <strong>inscreva-se</strong>
                    </button>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <%= yield %>
  </body>
  <footer>
    <div class="container">
        <div class="row">
           <div class="col-md-3 col-sm-3">
            <span>início</span>
            <hr>
            <span>downloads</span>
            <hr>
             <button type="button" class="btn btn-primary navbar-btn">
                <span class="glyphicon glyphicon-heart"></span> <strong>inscreva-se</strong>
            </button>
           </div>
           <div class="col-md-offset-5 col-sm-offset-4 col-md-4 col-sm-5 text-right">
              <div style="margin-top: 70px; margin-bottom: 10px">
                <%= image_tag("meinpiro-logo_orange.png", size: "300x70")%>
              </div>
              <span><small>Meinspiro 2017 - Todos os direitos reservados</small></span>
           </div>
        </div>
    </div>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
  crossorigin="anonymous"></script>

  <div id="subscribe" class="modal fade" role="dialog">
     <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center">Inscreva-se</h1>
      </div>
      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <%= render :partial => "leads/modal" %>
      </div>
      <%#<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>%>
    </div>

  </div>
</div>
</html>
